@import '../../client/sass/_variables.scss';
@import './Message.scss';
@import './Menu.scss';

* {
   box-sizing: border-box;
}

body {
   background-color: $green;
   margin: 0px;
   padding: 0px;
}

canvas {
   background-color: $red;
   display: block;
   min-width: 350px;
   margin: 3px;
   border: 1px solid $cup;
}
