@import './_variables.scss';

$blue1: #28ABE5;
$blue: #6F9ECE;
$green: #1DDB99;
$red: #DE524B;
$orange: #F2AE75;
$yellow: #FDF200;
$gray: #7D7F81;
$dark: #333333;

* {
   box-sizing: border-box; 
}

body {
   background-color: $blue;
}

.image-upload-form {
   background-color: $green;
   padding: 5px;
   .element {
      padding: 5px;
   }
   button[type="submit"] {
      padding: 5px;
   }
}
