* {
   box-sizing: border-box; 
}
#something {
   box-sizing: border-box;
   h1 {
      margin: 10px 0px;
      margin-top: 0px;
      padding: 0px;
   }
   background-color: $red;
   padding: 5px;
   margin: 5px;
   form {
      padding: 0px;
      margin: 0px;
      textarea, button {
         margin: 0px;
         padding: 0px;
         display: block;
      }
      textarea {
         padding: 5px;
         margin: 0px;
         min-width: 500px;
      }
      button {
         padding: 5px;
         margin: 5px;
      }
   }
   .container {
   }
}
