extends /layout.pug

block body
   h2 Welcome

   form.form-one 
      div.title Create an account
      div.element
         label Item Name
         input(type="text")
      div.element
         label Item Name
         input(type="text")
      div.element
         label Item Name
         input(type="text")
      div.element
         button(type="submit") Submit
