@import '../sass/_variables.scss';

.navbar {
   background-color: $dark;
   min-height: inherit;
   max-height: inherit;
   height: inherit;
   padding: 0px;
   margin: 0px;
   margin: 2px;
   margin-bottom: 10px;
   display: block;
   vertical-align: middle;
   ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      padding-left: 10px;
      li {
         display: inline-block;
         float: left;
      }
      a {
         padding: 5px;
         border-right: 1px solid $cup;
         display: block;
         color: $blue;
         text-shadow: 1px 1px 1px $cup;
         text-decoration: none;
         margin: 3px;
         &:hover {
            border-radius: 5px;
            background-color: $yellow;
         }
         &:active {
            color: $blue;
            background-color: #000;
         }
         &.active {
            color: $red;
            text-shadow: 1px 1px 1px $cup;
         }
      }
   }
}
