nav.navbar-default
   div.wrap
      ul.menu.menu-left
         li
            a(href="/") Home
         li
            a(href="/") Home
         li
            a(href="/post") Posts
         li
            a(href="/canvas") Canvas
      ul.menu.menu-right
         li
            a(href="/lea/css") Css
         li
            a(href="/") Home
         li
            a(href="/") Home
         li
            a(href="/") Home
