extends /layout/default

block head
   title This is the title

block body
   This is the body

   div
      a(href="/items") To items page.
      br
      a(href="/files") To files page.
      br
      a(href="/users") To users page.
