html
   head
      link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
      title Rest Api App
      block head
   body
      include /inc/nav

      div.container
         block body

